
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Temples</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header id="band" style="position: relative; left: 0; top: 0;">
      <img src="/images/templeslogo.png" style="position: absolute; top:50px; left: 5px; width: 25%;"/>
    </header>
    <nav>
      <ul>
        <li><a id="red" href="/">Home</a></li>
        <li><a id="green" href="/about">About</a></li>
        <li><a id="orange" href="/discography">Discography</a></li>
        <li><a id="purple" href="/tours">Live</a></li>
      </ul>
    </nav>
    <section >
      <p id="story">Temples are an English psychedelic rock band, formed in Kettering, Northamptonshire in 2012, 
      by singer-guitarist James Edward Bagshaw  (born 1986 in Kettering[1]) and bassist 
      Thomas Edward James Walmsley (born 1988 in Kettering). </p>
    </section>
    <footer>
        <small> (c) Temples Fan Club </small>
    </footer>
  </body>
</html>
