<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Temples</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header id="band" style="position: relative; left: 0; top: 0;">
      <img src="/images/templeslogo.png" style="position: absolute; top:50px; left: 5px; width: 25%;"/>
    </header>
    <nav>
      <ul>
        <li><a id="red" href="/">Home</a></li>
        <li><a id="green" href="/about">About</a></li>
        <li><a id="orange" href="/discography">Discography</a></li>
        <li><a id="purple" href="/tours">Live</a></li>
      </ul>
    </nav>
    <section class="main">
      <ul id="news">
        <li>
          <a href="http://welistenhear.com/news/top-20-underrated-artists-coachella-2014/">
            <img src="/images/band1.jpg" alt="" style="width: 275px;"/>
            <p>Temples at Coachella 2014</p>
          </a>
        </li>
        <li>
          <a href="http://www.buro247.com/me/culture/news/saint-laurent-music-project-james-bagshaw.html">
            <img src="/images/band3.jpg" alt="" style="width: 275px;">
            <p>Saint Laurent Music Project</p>
          </a>
        </li>
        <li>
          <a href="http://www.bbc.co.uk/events/errnc8/acts/ajv38g#p023rmmm">
            <img src="/images/band2.jpg" alt="" style="width: 275px;">
            <p>Temples at Glastonbury 2014</p>
          </a>
        </li>
        <li>
          <a href="http://www.vogue.fr/culture/a-ecouter/diaporama/la-playlist-d-ete-de-james-edward-bagshaw/19504/image/1031722#!la-playlist-de-james-edward-bagshaw-billie-holiday-official">
            <img src="/images/band4.jpg" alt="" style="width: 275px;">
            <p>Playlist for Vogue!</p>
          </a>
        </li>
      </ul>
    </section>
    <footer>
        <small> (c) Temples Fan Club </small>
    </footer>
  </body>
</html>
